Source: yubikey-personalization
Section: utils
Priority: extra
Maintainer: Tollef Fog Heen <tfheen@debian.org>
Build-Depends: debhelper (>= 8.1.3~), autotools-dev, libusb-1.0-0-dev, libyubikey-dev(>= 1.5), chrpath, pkg-config, dh-autoreconf
Standards-Version: 3.8.2
Homepage: http://code.google.com/p/yubikey-personalization/

Package: yubikey-personalization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Personalization tool for Yubikey OTP tokens
 Yubikeys are USB tokens that act like keyboards and generate one-time
 or static passwords.
 .
 This is a tool to customize the tokens with your own cryptographic
 key, user id and so on.
Homepage: http://code.google.com/p/yubikey-personalization/

Package: libykpers-1-1
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Personalization tool for Yubikey OTP tokens
 Yubikeys are USB tokens that act like keyboards and generate one-time
 or static passwords.
 .
 This package contains the run-time shared library needed for the
 personalization tool.
Homepage: http://code.google.com/p/yubikey-personalization/

Package: libykpers-1-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libykpers-1-1 (= ${binary:Version})
Description: Personalization tool for Yubikey OTP tokens
 Yubikeys are USB tokens that act like keyboards and generate one-time
 or static passwords.
 .
 This package contains the development files for the library.
Homepage: http://code.google.com/p/yubikey-personalization/