#! /usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@ --parallel --with autoreconf --builddirectory=build

override_dh_install:
	chrpath -d $(CURDIR)/debian/tmp/usr/bin/ykpersonalize
	rm -rf debian/tmp/usr/lib/*.la
	dh_install --builddirectory=build --fail-missing
